body {
  padding-bottom: 1.5rem;
  min-width: 375px;
}
footer {
  width: 100%;
  background-color: gray;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: white;
}
footer * {
  color: white;
}
button#scrollToTop {
  border: none;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  background-color: lightgray;
  color: black;
}
button#scrollToTop:hover {
  background-color: slategray;
  color: black;
}
button {
  border: 2px solid rgb(255, 123, 198);
  border-radius: 3px;
  background-color: rgb(255, 200, 231);
  color: rgb(255, 123, 198);
  font-weight: bold;
  padding: 1em;
}
button:hover {
  background-color: rgb(255, 123, 198);
  color: rgb(255, 200, 231);
}

.d-flex-justify-center {
  display: flex;
  justify-content: center;
}
#kiki {
  border: red 4px dashed;
  border-radius: 10px;
  padding: 5px;
}
#kiki > h4 {
  margin: 0;
}
#filter-box {
  margin: 10px;
  padding: 1rem;
  border: 2px black dashed;
  border-radius: 1rem;
}
#club-items,
#distance-items,
#month-items {
  display: flex;
  flex-flow: wrap;
}
.filter-item-container {
  width: 20%;
}
@media (max-width: 480px) {
  .filter-item-container {
    width: 30%;
  }
}
#filter-items label {
  white-space: nowrap;
}

#month-items .filter-item-container label span::after {
  content: '月';
}
#event-table-wrapper {
  border: 2px black solid;
}
#event-table > thead button {
  width: 100%;
}
#event-table > tbody > tr:nth-child(odd) td {
  border-top: 2px black dotted;
}
#event-table > tbody > tr td:nth-child(1) {
  white-space: nowrap;
}
#event-table > tbody > tr td {
  width: 25%;
}

/* #event-table > tbody > tr td:nth-child(3) {
  width: 5rem;
}
#event-table > tbody > tr td:nth-child(4) {
  width: 5.2rem;
} */
.distance-200 {
  background-color: #93ffad;
}
.distance-300 {
  background-color: lightskyblue;
  /* color: #00820a; */
}
.distance-400 {
  background-color: rgb(230, 159, 0);
  /* color: white; */
}
.distance-600 {
  background-color: rgb(213, 94, 0);
  /* color: white; */
}
.distance-rm,
.distance-rm * {
  background-color: black;
  color: white !important;
}
